.usual {
    background: none repeat scroll 0 0 #181818;
    border: 1px solid #222222;
    color: #111111;
    margin: 8px auto;
    padding: 15px 20px;
    /*width: 500px;*/
}

.usual li {
    float: left;
    list-style: none outside none;
}

.usual ul a {
    background: none repeat scroll 0 0 #444444;
    color: #FFFFFF;
    display: block;
    font: 12px Verdana;
    margin: 1px 1px 1px 0;
    padding: 6px 10px;
    text-decoration: none !important;
}

.usual ul a:hover {
    background: none repeat scroll 0 0 #111111;
    color: #FFFFFF;
}

.usual ul a.selected {
    background: none repeat scroll 0 0 #FFFAFA;
    border-bottom: 1px solid #FFFAFA;
    color: #000000;
    cursor: default;
    margin-bottom: 0;
}

.usual div {
    background: none repeat scroll 0 0 #FFFAFA;
    clear: left;
    font: 10pt Georgia;
    padding: 10px 10px 8px;
}

.usual div a {
    /*color: #000000;*/
    font-weight: bold;
}
